.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $main-nav-width;
  background-color: $main-nav-bg-color;
  color: color-yiq($main-nav-bg-color);

  nav {
    margin: 20px 0;
    padding: 0;

    &.user-details {
      height: 90px;

      a:hover {
        background-color: transparent;
      }
    }

    h1 {
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 30px;
    }

    a {
      color: color-yiq($main-nav-bg-color);
      display: block;
      padding: 12px 30px;

      &.active,
      &:hover {
        background-color: lighten($main-nav-bg-color, 10%);
      }
    }
  }
}