<aside class="main-nav">
    <nav class="mt-5">
        <h1>Subscribers</h1>
        <a [routerLink]="['/account/subscribers']">
            <i class="fas fa-user fa-fw mr-2"></i>
            All Subscribers
        </a>
        <a [routerLink]="['/account/groups']">
            <i class="fas fa-users fa-fw mr-2"></i>
            Subscriber Groups
        </a>
    </nav>
</aside>

<section class="main-container">
    <section class="content-container">
        <router-outlet></router-outlet>
    </section>
</section>