<ul class="breadcrumbs">
    <li><a [routerLink]="['/account', 'subscribers']">Subscribers</a></li>
    <li>
        <a
            [routerLink]="['/account', 'subscribers', subscriberId]"
            *ngIf="state.dataLoaded">
            {{data.subscriber.email}}
        </a>
        <i
            *ngIf="!state.dataLoaded"
            class="fas fa-circle-notch fa-spin"
        ></i>
    </li>
    <li>Edit Subscriber</li>
</ul>

<ng-container *ngIf="!state.dataLoaded">
    <p class="text-center">
        Loading...
    </p>
</ng-container>

<ng-container *ngIf="state.dataLoaded">
    <h1>Edit Subscriber</h1>

    <div class="card">
        <div class="card-body">
            <form
                #form="ngForm"
                (submit)="editSubscriber()"
            >
                <div
                    class="form-group row"
                    [showErrors]="subscriberGroupField"
                >
                    <label
                        for="subscriberGroup"
                        class="col-12 col-sm-3 col-form-label"
                    >
                        Group
                    </label>

                    <div class="col-12 col-sm-9">
                        <select
                            [(ngModel)]="model.subscriberGroup"
                            #subscriberGroupField="ngModel"
                            id="subscriberGroup"
                            name="subscriberGroup"
                            class="form-control"
                            required
                        >
                            <option [ngValue]="null">Select a group...</option>
                            <option
                                *ngFor="let subscriberGroup of data.subscriberGroups"
                                [ngValue]="subscriberGroup">
                                {{ subscriberGroup.name }}
                            </option>
                        </select>

                        <error-messages></error-messages>
                    </div>
                </div>

                <div
                    class="form-group row"
                    [showErrors]="subscriberStateField"
                >
                    <label
                        for="subscriberState"
                        class="col-12 col-sm-3 col-form-label"
                    >
                        State
                    </label>

                    <div class="col-12 col-sm-9">
                        <select
                                [(ngModel)]="model.subscriberState"
                                #subscriberStateField="ngModel"
                                id="subscriberState"
                                name="subscriberState"
                                class="form-control"
                                required
                        >
                            <option [ngValue]="null">Select a state...</option>
                            <option
                                    *ngFor="let subscriberState of data.subscriberStates"
                                    [ngValue]="subscriberState">
                                {{ subscriberState.name }}
                            </option>
                        </select>

                        <error-messages></error-messages>
                    </div>
                </div>

                <div class="text-right">
                    <a
                        [routerLink]="['/account', 'subscribers', subscriberId]"
                        class="mr-2"
                    >
                        Cancel
                    </a>

                    or

                    <button
                        type="submit"
                        class="btn btn-lg btn-success ml-2"
                        [disabled]="!form.valid || state.submitting"
                    >
                        Save Changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-container>